	* {
			box-sizing: 		border-box;
            margin: 0px;
            padding: 0px;
		}

		/* For phones (portrait) unless another @media rule below is fired */
		@media only screen and (max-width: 499px) {
			.col-sm-00  {display: 		   none; }
            .col-sm-06 	{width: 		    50%; }
			.col-sm-12 	{width: 		   100%; }
			body 		{background-color: white;}
			[class*="col-sm-"] {
				margin-top: 5px;
               
			}
		}

		/* For medium screens (e.g. landscape phones and portrait tablets) */
		@media only screen and (min-width: 500px) {
			.col-md-00  {display: 		   none; }
			.col-md-01  {width: 		  8.33%; }
			.col-md-02  {width: 		 16.66%; }
			.col-md-03  {width: 		 25.00%; }
			.col-md-04  {width: 		 33.33%; }
			.col-md-05  {width: 		 41.66%; }
			.col-md-06  {width: 		 50.00%; }
			.col-md-07  {width: 		 58.33%; }
			.col-md-08  {width: 		 66.66%; }
			.col-md-09  {width: 		 75.00%; }
			.col-md-10  {width: 		 83.33%; }
			.col-md-11  {width: 		 91.66%; }
			.col-md-12  {width: 		100.00%; }
			body 		{background-color: white;}
			[class*="col-md-"] {
				
			}
		}

		/* For large screens or landscape tablets*/		
		@media only screen and (min-width: 1024px) {
			.col-md-00  {display: 		initial; }
			.col-sm-00  {display:       initial; }
			.col-lg-01  {width: 		  8.33%; }
			.col-lg-02  {width: 		 16.66%; }
			.col-lg-03  {width: 		 25.00%; }
			.col-lg-04  {width: 		 33.33%; }
			.col-lg-05  {width: 		 41.66%; }
			.col-lg-06  {width: 		 50.00%; }
			.col-lg-07  {width: 		 58.33%; }
			.col-lg-08  {width: 		 66.66%; }
			.col-lg-09  {width: 		 75.00%; }
			.col-lg-10 	{width: 		 83.33%; }
			.col-lg-11 	{width: 		 91.66%; }
			.col-lg-12 	{width: 		100.00%; }
			body 		{background-color: white;}
			[class*="col-lg-"] {
				
			}
		}

		[class*="col-"] {
			float: 				left;
			border-radius: 		10px;
		}

		.row::after {
			content: 			"";
			clear: 				both;
			display: 			block;
		}

		.lim {background-color: #00ff00;}
		.yel {background-color: #ffff00;}
		.cya {background-color: #00ffff;}
		.mar {background-color: #800000;}
		.gre {background-color: #008000;}
		.oli {background-color: #808000;}
		.tea {background-color: #008080;}
		.wht {background-color: #ffffff;}

		body {
			font-family: 		sans-serif;
			font-size: 			12px;		
			text-align: 		center;
            background-image:   url('../img/stripes.png');
		}
        
#mainBody {
 padding-top: 20px;   
}

.radioButtons {
    float: left;
    border: 1px solid black;
}
#roomRow{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}

#tempRow{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}

#buttonRow{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}